@import "aegis/variable";
@import "aegis/mixin";
@import "aegis/grid";

.wp-picker-container{
    *{
        @include box_sizing(content-box);
    }
}

.hide_all{ display: none; }

.ui-widget-overlay.ui-front{
    z-index: 9999;
    background-color: #000;
    @include opacity(0.7);
}

.ui-widget-header{
    background-color: #999;
    color: #FFF;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}

#a_modal_grid{
    margin: 20px auto 0px auto;
    padding: 10px;
    & > .a_row{
        margin-bottom: 20px;
    }    

    .a_row_mockup{
        @include transition(0.5s);
        cursor: pointer;
        &:hover{
            border-color: $color_1;
            .a_col_mockup{
                background-color: $color_1;
                color: $white;
            }
        }
        border: 1px solid $border_1;
        padding: 5px;
        .a_row{
            margin-left: -2.5px !important;
            margin-right: -2.5px !important;
        }
        .a_col{
            padding-left: 2.5px !important;
            padding-right: 2.5px !important;
        }        
    }

    .a_col_mockup{
        @include transition_m(background-color, 0.5s);
        background-color: $bg_1;
        height: 48px;
        line-height: 48px;
        text-align: center;
        font-weight: 700;
    }
}

#a_modal_widgets{
    margin: 0px auto;
    padding: 10px;    
    
    .a_item{
        cursor: pointer;        
        &:hover,
        &.active{
            border-color: $color_1;
            .a_header{                
                border-bottom-color: $color_1;     
            }
        }
    }
}

.a_item{
    border: 1px solid $border_1;
    margin-bottom: 20px;
    @include transition(0.5s);
    .a_header{      
        @include transition(0.5s);  
        border-bottom: 1px solid $border_1;
        background-color: $bg_1;
        padding: 0px 10px;
        span{            
            height: 50px;
            line-height: 50px;
        }
    }
    .a_body{
        padding: 10px;
        font-size: 10px;  
    }
    .a_icon{                
        font-size: 18px;
        color: $color_1;        
    }
    .a_title{
        font-weight: 700;            
    }
}

#aegis_metabox{
    .a_wrap{
        margin-top: 12px;
        & > .a_header{
            margin-bottom: 12px;
        }        
    }
}

.a_block{
    background-color: $white;    
    @include border-radius(5px);
}

.a_grid_item{
    border: 2px dashed $border_1 !important;
    background-color: transparent !important;

    & > .a_header{        
        border-bottom:  2px dashed $border_1 !important;
        background-color: transparent !important;
    }
    & > .a_body{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.a_block,
.a_column_item,
.a_grid_item{    
    margin-bottom: 12px;
    margin-top: 12px;

    .a_action{
        @include button();
        cursor: pointer;
        @include transition(0.5s);
        &.a_hanle{
            cursor: move;
        } 
    }
        
    .a_body{
        padding: 12px;
    }    
}



.a_column_item{
    border: 1px solid $border_1 !important;
    background-color: $border_1 !important;
    @include border-radius(5px);

    .a_body{
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

.a_block_helper{
    display: block;
    @include border-radius(5px);
    width: 120px !important;
    height: 48px !important;
    line-height: 48px !important;
    border: 1px solid $color_1;
    background-color: $color_1;
    color: #fff;    
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.a_tabs{
    .a_nav{
        ul{
            border-bottom: 1px solid $border_1;
            li{
                margin-bottom: 0px !important;
            }
        }
    }
}

.a_tab_item{
    display: block;
    float: left;

    span{
        display: block;
        height: 40px;
        line-height: 40px;        
        margin-bottom: -1px;
        padding: 0px 20px;
        cursor: pointer;
        text-align: center;     
        border-top: 1px solid $border_1;
        border-bottom: 1px solid $border_1;
        border-right: 1px solid $border_1;
        font-weight: 700;        
        @include transition_m(background-color, 0.5s);
        @include transition_m(border-color, 0.5s);
    }

    &.a_first{
        margin-left: 40px;
        border-left: 1px solid $border_1;        
    }

    &.a_active span,
    span:hover{        
        border-bottom-color: $white;
        color: $color_1;
    } 
}

.a_tab_content{
    &.a_active{
        display: block;
    }
    &.a_hide{
        display: none;
    }
} 

.a_control{
    margin-top: 20px;    
    .a_ui_help_text{
        margin-top: 5px;
        font-size: 10px;
        font-style: italic;        
    }
}

.a_size_10p { width: 10%; }
.a_size_20p { width: 20%; }
.a_size_30p { width: 30%; }
.a_size_40p { width: 40%; }
.a_size_50p { width: 50%; }
.a_size_100p{ width: 100%; }

#aegis_tab_widget{
    p{
        @include clearfix();
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.a_ui_spacing{
    .a_ui_text{
        width: 100% !important;
        text-align: right;
    }
    .a_first{
        margin-bottom: 20px;
    }

    .a_sub_control{
        position: relative;
        margin-top: 0px;
        margin-bottom: 0px;
        code{
            @include inline_block();
            position: absolute;
            top: 1px;
            left: 1px;
            bottom: 1px;            
        }
    }
}

.a_button{
    @include inline_block();
    position: relative;    
    cursor: pointer;

    &:hover{        
        .a_text,
        .a_icon{            
            color: $color_1;
            border-color: $color_1;
        }
    }

    .a_icon{
        display: block;
        position: absolute;
        top: 0;        
        width: 25px;
        height: 25px;
        line-height: 23px;        
        text-align: center;
        border: 1px solid $border_2;
        font-size: 10px;
        @include border_radius(50%);
    }

    .a_text{
        text-transform: uppercase;
        font-style: italic;
        font-size: 12px;
        display: block;
        height: 25px;
        line-height: 25px;
    }

    &.a_left{
        .a_icon{ left: 0; }

        .a_text{
            padding-left: 35px;
            padding-right: 0px;     
        }        
    }

    &.a_right{
        .a_icon{ right: 0; }

        .a_text{
            padding-left: 0px;
            padding-right: 35px;      
        }
    }
}

.a_fixed_dialog{
  position: fixed;
  top: 50px;
  left: 50px;

  .ui-dialog-titlebar-close{
    @include border_radius(50%);
    height: 20px;
    line-height: 18px;
    width: 20px;    
    background-color: $white;
    color: $black;
    border: 1px solid $border_1;
    right: 12px;    
    padding: 0px;
    & > i{
        font-size: 9px !important;
    }    
  }
}

.a_checkboxes_wrap{
    margin-bottom: 0px;
    margin-top: 10px;
    &.a_first{
        margin-top: 0px;
    }
}

.a_image_add,
.a_image_remove{
    text-align: center;    
}

.a_desc_handler{
    @include inline_block();   
    position: relative;
    cursor: help;
    &:hover{
        color: $color_1;
    }
}


p.a_desc{
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 11px;
    padding-left: 5px;
    border-left: 3px solid #dfdfdf; 
}

span.a_desc{
    display: block;
    width: 100%;

    background-color: #f5f5f5;
    background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-size: 38px 38px;
    border: 1px solid #d4d4d4;    
    line-height: 19px;    
    overflow-x: visible;
    overflow-y: hidden;
    padding: 0 0 0 4px;
    font-size: 11px;

    &.a_active{
        display: block;
    }
    &.a_hide{
        display: none;
    }    
}

textarea.aegis_guide_line{
    background-color: #f5f5f5;
    background-image: linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
    background-size: 38px 38px;
    line-height: 19px;    
    overflow-x: visible;
    overflow-y: hidden;
    padding: 0 0 0 4px;
    font-size: 11px;
    font-family: 'Courier';
}