.a_wrap *,
.a_wrap *:before,
.a_wrap *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.a_row {
  margin-left: -10px;
  margin-right: -10px;
}

.a_col_1,
.a_col_2,
.a_col_3,
.a_col_4,
.a_col_5,
.a_col_6,
.a_col_7,
.a_col_8,
.a_col_9,
.a_col_10,
.a_col_11,
.a_col_12 {
  position: relative;
  min-height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}

.a_col_12 {
  width: 100%;
}

.a_col_11 {
  width: 91.66666667%;
}

.a_col_10 {
  width: 83.33333333%;
}

.a_col_9 {
  width: 75%;
}

.a_col_8 {
  width: 66.66666667%;
}

.a_col_7 {
  width: 58.33333333%;
}

.a_col_6 {
  width: 50%;
}

.a_col_5 {
  width: 41.66666667%;
}

.a_col_4 {
  width: 33.33333333%;
}

.a_col_3 {
  width: 25%;
}

.a_col_2 {
  width: 16.66666667%;
}

.a_col_1 {
  width: 8.33333333%;
}

.a_clearfix:before, .a_clearfix:after {
  content: "";
  display: table;
}
.a_clearfix:after {
  clear: both;
}

.a_pull_left {
  float: left;
}

.a_pull_right {
  float: right;
}

.wp-picker-container * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.hide_all {
  display: none;
}

.ui-widget-overlay.ui-front {
  z-index: 9999;
  background-color: #000;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
}

.ui-widget-header {
  background-color: #5cb85c;
  color: #FFF;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

#a_modal_grid {
  margin: 20px auto 0px auto;
  padding: 10px;
}
#a_modal_grid > .a_row {
  margin-bottom: 20px;
}
#a_modal_grid .a_row_mockup {
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  cursor: pointer;
  border: 1px solid #eeeeee;
  padding: 5px;
}
#a_modal_grid .a_row_mockup:hover {
  border-color: #5cb85c;
}
#a_modal_grid .a_row_mockup:hover .a_col_mockup {
  background-color: #5cb85c;
  color: white;
}
#a_modal_grid .a_row_mockup .a_row {
  margin-left: -2.5px !important;
  margin-right: -2.5px !important;
}
#a_modal_grid .a_row_mockup .a_col {
  padding-left: 2.5px !important;
  padding-right: 2.5px !important;
}
#a_modal_grid .a_col_mockup {
  transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  background-color: whitesmoke;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 700;
}

#a_modal_widgets {
  margin: 0px auto;
  padding: 10px;
}
#a_modal_widgets .a_item {
  cursor: pointer;
}
#a_modal_widgets .a_item:hover, #a_modal_widgets .a_item.active {
  border-color: #5cb85c;
}
#a_modal_widgets .a_item:hover .a_header, #a_modal_widgets .a_item.active .a_header {
  border-bottom-color: #5cb85c;
}

.a_item {
  border: 1px solid #eeeeee;
  margin-bottom: 20px;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.a_item .a_header {
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  border-bottom: 1px solid #eeeeee;
  background-color: whitesmoke;
  padding: 0px 10px;
}
.a_item .a_header span {
  height: 50px;
  line-height: 50px;
}
.a_item .a_body {
  padding: 10px;
  font-size: 10px;
}
.a_item .a_icon {
  font-size: 18px;
  color: #5cb85c;
}
.a_item .a_title {
  font-weight: 700;
}

#aegis_metabox .a_wrap {
  margin-top: 12px;
}
#aegis_metabox .a_wrap > .a_header {
  margin-bottom: 12px;
}

.a_block > .a_header {
  border-top: 3px solid #689f38;
  background-color: #8bc34a;
}

.a_column_item > .a_header {
  border-top: 3px solid #388e3c;
  background-color: #4caf50;
}

.a_grid_item > .a_header {
  border-top: 3px solid #00796b;
  background-color: #009688;
}

.a_block,
.a_column_item,
.a_grid_item {
  border: 1px solid #eeeeee;
  margin-bottom: 12px;
  margin-top: 12px;
}
.a_block .a_header,
.a_column_item .a_header,
.a_grid_item .a_header {
  color: white;
  border-bottom: 1px solid #eeeeee;
}
.a_block .a_action,
.a_column_item .a_action,
.a_grid_item .a_action {
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s;
  -ms-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
}
.a_block .a_action.a_hanle,
.a_column_item .a_action.a_hanle,
.a_grid_item .a_action.a_hanle {
  cursor: move;
}
.a_block .a_body,
.a_column_item .a_body,
.a_grid_item .a_body {
  padding: 12px;
}

.a_column_item .a_body {
  padding-top: 12px;
  padding-bottom: 12px;
}

.a_block_helper {
  display: block;
  width: 100px !important;
  height: 48px !important;
  line-height: 48px !important;
  border: 1px solid #5cb85c;
  background-color: #5cb85c;
  color: #fff;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.a_tab_item {
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.a_tab_item span {
  display: block;
  height: 30px;
  line-height: 30px;
  margin-left: 10px;
  padding: 0px 15px;
  cursor: pointer;
  text-align: center;
  border: 1px solid white;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: border-color 0.5s;
  -ms-transition: border-color 0.5s;
  -webkit-transition: border-color 0.5s;
  -moz-transition: border-color 0.5s;
}
.a_tab_item.a_first span {
  margin-left: 0px !important;
}
.a_tab_item.a_active span,
.a_tab_item span:hover {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
}

.a_tab_content.a_active {
  display: block;
}
.a_tab_content.a_hide {
  display: none;
}

.a_control {
  margin-top: 20px;
}
.a_control .a_ui_help_text {
  margin-top: 5px;
  font-size: 10px;
  font-style: italic;
}

.a_size_10p {
  width: 10%;
}

.a_size_20p {
  width: 20%;
}

.a_size_30p {
  width: 30%;
}

.a_size_40p {
  width: 40%;
}

.a_size_50p {
  width: 50%;
}

.a_size_100p {
  width: 100%;
}

#aegis_tab_widget p {
  margin-top: 10px;
  margin-bottom: 10px;
}
#aegis_tab_widget p:before, #aegis_tab_widget p:after {
  content: "";
  display: table;
}
#aegis_tab_widget p:after {
  clear: both;
}

.a_ui_spacing .a_ui_text {
  width: 100% !important;
  text-align: right;
}
.a_ui_spacing .a_first {
  margin-bottom: 20px;
}
.a_ui_spacing .a_sub_control {
  position: relative;
  margin-top: 0px;
  margin-bottom: 0px;
}
.a_ui_spacing .a_sub_control code {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
}

.a_button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  cursor: pointer;
}
.a_button:hover .a_text,
.a_button:hover .a_icon {
  color: #5cb85c;
  border-color: #5cb85c;
}
.a_button .a_icon {
  display: block;
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  line-height: 23px;
  text-align: center;
  border: 1px solid #555555;
  font-size: 10px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
.a_button .a_text {
  text-transform: uppercase;
  font-style: italic;
  font-size: 12px;
  display: block;
  height: 25px;
  line-height: 25px;
}
.a_button.a_left .a_icon {
  left: 0;
}
.a_button.a_left .a_text {
  padding-left: 35px;
  padding-right: 0px;
}
.a_button.a_right .a_icon {
  right: 0;
}
.a_button.a_right .a_text {
  padding-left: 0px;
  padding-right: 35px;
}

.a_fixed_dialog {
  position: fixed;
  top: 50px;
  left: 50px;
}
.a_fixed_dialog .ui-dialog-titlebar-close {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  height: 20px;
  line-height: 18px;
  width: 20px;
  background-color: white;
  color: #222222;
  border: 1px solid #eeeeee;
  right: 12px;
  padding: 0px;
}
.a_fixed_dialog .ui-dialog-titlebar-close > i {
  font-size: 9px !important;
}

.a_block .a_body {
  background-color: #f0f0f0;
}

.a_checkboxes_wrap {
  margin-bottom: 0px;
  margin-top: 10px;
}
.a_checkboxes_wrap.a_first {
  margin-top: 0px;
}

.a_image_add,
.a_image_remove {
  text-align: center;
}

.a_desc_handler {
  display: inline-block;
  *display: inline;
  zoom: 1;
  position: relative;
  cursor: help;
}
.a_desc_handler:hover {
  color: #5cb85c;
}

p.a_desc {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0px;
  font-size: 11px;
  padding-left: 5px;
  border-left: 3px solid #dfdfdf;
}

span.a_desc {
  display: block;
  width: 100%;
  background-color: #f5f5f5;
  background-image: linear-gradient(whitesmoke 50%, #e6e6e6 50%);
  background-size: 38px 38px;
  border: 1px solid #d4d4d4;
  line-height: 19px;
  overflow-x: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
  font-size: 11px;
}
span.a_desc.a_active {
  display: block;
}
span.a_desc.a_hide {
  display: none;
}

textarea.aegis_guide_line {
  background-color: #f5f5f5;
  background-image: linear-gradient(whitesmoke 50%, #e6e6e6 50%);
  background-size: 38px 38px;
  line-height: 19px;
  overflow-x: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
  font-size: 11px;
  font-family: 'Courier';
}
